{% extends 'base.html' %}

{% block content %}


<div class="container mt-5">
    <h1 class="text-center mb-4">UPLOAD AUDIO</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
    
  <div class="row py-4">
    <div class="col-md-4 mb-3"> 
      <a href="{% url 'audio_download' 10 %}" class="text-decoration-none">
        <button class="btn btn-primary btn-block">Original Audio</button>
      </a>
    </div>
    <div class="col-md-4 mb-3">
        <a href="{% url 'upload_image'%}" class="text-decoration-none">
          <button class="btn btn-primary btn-block">HOME</button>
        </a>
      </div>
  </div>
</div>

{% endblock %}