{% extends 'base.html' %}

{% block content %}



<div class="container mt-5">
  <h1 class="text-center mb-4">UPLOAD IMAGE</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
<button type="submit" id="myBtn1" >Upload</button>
</form>



  <div class="row py-4">
    <div class="col-md-4 mb-3">
      <a href="{% url 'original-image' 10 %}" class="text-decoration-none">
        <button class="btn btn-primary btn-block">Original Image</button>
      </a>
    </div>
    <div class="col-md-4 mb-3">
      <a href="{% url 'gray-image' 10 %}" class="text-decoration-none">
        <button class="btn btn-primary btn-block">Download Gray Scale Image</button>
      </a>
    </div>
    <div class="col-md-4 mb-3">
      <a href="{% url 'rotated-image' 10 %}" class="text-decoration-none">
        <button class="btn btn-primary btn-block">Download Rotated Image</button>
      </a>
    </div>
      <div class="col-md-4 mb-3">
        <a href="{% url 'home'%}" class="text-decoration-none">
          <button class="btn btn-primary btn-block">HOME</button>
        </a>
      </div>
  </div>

 

</div>


{% endblock %}
