{% extends 'base.html' %}

{% block content %}


<div class="container mt-5">
  <h1 class="text-center mb-4">UPLOAD IMAGE</h1>
  <form method="post" enctype="multipart/form-data" style="display: flex;">
  {% csrf_token %}
  <div class = "px-4 mx-4">
    {{ form.title.label_tag }}
    {{ form.title }}
  </div>
  <div class = "px-4 ">
    {{ form.file.label_tag }}
    {{ form.file }}
  </div>
      <div class="col-md-4 mb-3">
  <button class="btn btn-primary btn-block" type="submit">Upload</button>
      </div>
</form>


  <div class="row py-4">
    <div class="col-md-4 mb-3">
      <a href="{% url 'original-image' 10 %}" class="text-decoration-none">
        <button class="btn btn-primary btn-block">Original Image</button>
      </a>
    </div>
    <div class="col-md-4 mb-3">
      <a href="{% url 'gray-image' 10 %}" class="text-decoration-none">
        <button class="btn btn-primary btn-block">Download Gray Scale Image</button>
      </a>
    </div>
    <div class="col-md-4 mb-3">
      <a href="{% url 'rotated-image' 10 %}" class="text-decoration-none">
        <button class="btn btn-primary btn-block">Download Rotated Image</button>
      </a>
    </div>
    <div class="col-md-4 mb-3">
        <a href="{% url 'rmbg-image' 10 %}" class="text-decoration-none">
          <button class="btn btn-primary btn-block">Remove Image Background</button>
        </a>
      </div>
  </div>
</div>

{% endblock %}
